<fieldset id="your_account" class="columnn span-10">
  <legend>Your Account</legend>
  Logged in as <%= current_user.email %>. Not you?
  <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
  <p>Change Email Area</p>
</fieldset>
