<div class="column span-24 alpha60 last" id="styling" style="border-bottom:1px solid #ccc; display:none;">
		<ul id="backgrounds">
			<li><img src="images/none.jpg" width="150" height="150" alt="None"></li>
			<li><img src="images/card.jpg" width="150" height="150" alt="Card"></li>
			<li><img src="images/concrete3.jpg" width="150" height="150" alt="Concrete3"></li>
				<li class="currentbg"><img src="images/bright_sq.jpg" width="150" height="150" alt="Bright Sq"></li>
			<li><img src="images/cork.jpg" width="150" height="150" alt="Cork"></li>
			<li><img src="images/elast.jpg" width="150" height="150" alt="Elast"></li>
			<li><img src="images/felt.jpg" width="150" height="150" alt="Felt"></li>
			<li><img src="images/gold_scale.jpg" width="150" height="150" alt="Gold Scale"></li>
			<li><img src="images/green.jpg" width="150" height="150" alt="Green"></li>
			<li><img src="images/grid.jpg" width="150" height="150" alt="Grid"></li>
			<!--<li><img src="images/grunge.jpg" width="150" height="150" alt="Grunge"></li>-->
			<li><img src="images/little_plus.jpg" width="150" height="150" alt="Little Plus"></li>
			<!--<li><img src="images/paper3.jpg" width="150" height="150" alt="Paper3"></li>-->
			<li><img src="images/pins.jpg" width="150" height="150" alt="Pins"></li>
			<li><img src="images/smoothe.jpg" width="150" height="150" alt="Smoothe"></li>
		
			<li><img src="images/soft_circle.jpg" width="150" height="150" alt="Soft Circle"></li>
			<!--<li><img src="images/soft_wallpaper.jpg" width="150" height="150" alt="Soft Wallpaper"></li>-->
			<li><img src="images/stucco.jpg" width="150" height="150" alt="Stucco"></li>
			<li><img src="images/subtle_orange.jpg" width="150" height="150" alt="Subtle Orange"></li>
			<li><img src="images/vich.jpg" width="150" height="150" alt="Vich"></li>
			<li><img src="images/washi.jpg" width="150" height="150" alt="Washi"></li>
			</ul>
	</div>
