<fieldset id="your_plan" class="columnn span-10">
  <legend>Your Plan</legend>
  <% form_for(current_user, :url => "/user/#{current_user.id}/change_plan", :remote => true, :html => { :id => "change-plan" }) do |f| %>
    <p>
      <%= f.label :plan_id, "Select Plan" %><br />
      <%= f.select(:plan_id, [["Business", 1], ["Personal", 2]], {:include_blank => 'None'}) %>
    </p>
    <p><%= f.submit "Submit" %></p>
  <% end %>
  <div id="show-plan">
    <p>
      You're on the <span id="plan-name"><%= shop.user.plan_name %></span> plan.
      <a href="javascript:;" onClick="">Change</a>
    </p>
  </div>
</fieldset>
