<% form_for @shop, :html => { :id => "shop_url_edit" }  do |f| -%>
<fieldset id="Fieldset1" style="margin-top:5px;">
  <legend style="font-weight:normal;">Choose a url (web address) for your list</legend> listofthingsforsale.com/ <%= f.text_field :url %><br>
  <a class="button positive" onClick="$('form#shop_url_edit').submit()"><img src="/css/plugins/buttons/icons/tick.png" alt="">Save</a><br>
  </fieldset>
<% end -%>
