<% content_for :dynamic_javascripts do %>
  <%= javascript_include_tag "simpleCart.js" %>
	<script type="text/javascript">
		simpleCart.email = "<%= @shop.paypal_email %>";
		simpleCart.checkoutTo = PayPal;
		simpleCart.currency = GBP;
	</script>
<%end%>

<h1>Welcome to this shop!</h1>

<% @shop.items.each do |item| %>
<div>
	<% @item = item %>
	<%= render :partial => "items/show_public", :object => @item %>
</div>
<% end %>

<div class="span-5 colborder" style="min-height: 280px; text-align: center;">
    <div style="margin-bottom: 5px;">
        You have <span class="simpleCart_quantity"></span> items in your Cart.</div>
    <div class="simpleCart_items">
    </div>
    <!--use a class of simpleCart_empty to empty the cart and simpleCart_checkout to checkout -->
    <a href="javascript:;" class="simpleCart_empty">Empty Cart</a> &nbsp;|&nbsp; <a href="javascript:;"
        class="simpleCart_checkout">Checkout</a>
</div>
