
<% @shop.items.each do |item| %>
<div>
	<% @item = item %>
	<%= render :partial => "items/show", :object => @item %>
</div>
<% end %>


<% if @shop.status == ShopStatus::CREATED then %>
<p>wow there</p>
<% end %>
<p>
  <b>Url:</b>
  <%= @shop.url %>
</p>

<p>
  <b>Name:</b>
  <%= @shop.name %>
</p>
