
html {
overflow: -moz-scrollbars-vertical; 
overflow-y: scroll;
}

#tagline
{
    padding: 2px 5px;
}

.sidey a {text-decoration:none;color:#000;}
.sidey a:hover {text-decoration:none;color:#000;}
.sidey a img {text-decoration:none;border:none;}

/*

#listview ul
{
    width: 590px;
    float: left;
    min-height: 53px;
    list-style-type: none;
    padding: 5px 0;
    margin: 5px 0;
    display: block;
}

#listview ul li
{
    float: left;
    padding: 0 20px 0 0;
    margin: 0;
}

#listview ul li.item_name_li
{
    width: 315px;
}

#listview ul li.item_price
{
    width: 50px;
}

#listview ul li.item_addtocart
{
    width: 115px;
}

#listview ul li.item_image
{
    width: 50px;
    padding: 0;
}

#listview ul li.item_description
{
    width: 590px;
    padding: 5px 0 0 0;
}

#listview a img
{
    border: 3px solid #FFF;
}
#listview a img:hover
{
    border: 3px solid #FFFF00;
}

*/

.simpleCart_shelfItem h3, .simpleCart_shelfItem h4, .simpleCart_shelfItem p
{
    margin: 0 0 5px 0;
}

.simpleCart_items
{
    clear: both;
    float: left;
    margin: 0;
    position: relative;
}


.itemContainer
{
    float: left;
    width: 230px;
    position: relative;
    bottom: 0;
    padding: 10px 0;
}

.cartHeaders
{
    display: none;
}

/*
.item_thumb{
	display:none;
}

.itemthumb
{
    width:50px;
	float:left;
	margin:0;
	padding-top:5px;
	height:50px;
}
 */
.itemname
{
    width: 230px; /* 115 when quantity is to right of it*/
    float: left;
}
/*
.itemQuantity{
	float:left;
	margin-top:5px;
	display:inline;
	margin-left:65px;
	width: 43px;
	border:none;
}
.itemQuantity input
{
	background:none;
	border:none;
	width:21px;
	height:17px;
	background:url(../images/cartsprite.png);
	text-align:center;
	color:#000;
	font:bold 11px Arial, sans-serif;
	padding:0 9px;
	margin:0 5px 0 0;
	vertical-align:top;
	padding-top:3px;
}
.itemQuantity input:focus{
	outline:none;
}
.itemincrement a
{float:left;
	display:block;
	background:url(../images/cartsprite.png) -278px -29px;
	width:7px;
	height:5px;
	text-indent:-9999px;
	overflow:hidden;
	margin:10px 0 0 0;
}
.itemdecrement a
{float:left;
	display:block;
	background:url(../images/cartsprite.png) -278px -35px;
	width:7px;
	height:5px;
	text-indent:-9999px;
	overflow:hidden;
	margin:3px 0 0 0;
}*/

.itemTotal
{
    float: left;
    width: 215px;
}


#aboveline
{
    margin-bottom: 10px;
    color: #000;
    
}
#admin
{
    width: 100%;
    margin-top: 10px;
}





#topbar
{
    padding: 0;
    margin: 0;
    width:100%;
    background-color:#fff;
    height:35px;
}
#topbar DIV.topbar-centred
{
    display: block;
    margin: 0px auto;
    width: 900px;
    background-color:#fff;
padding:0;
}



UL.navigation
{
    display: block;
    float: left;
    margin: 10px 0 0 -20px;
    padding: 0;
    width: 900px;
    list-style-type: none;
    background-color:#fff;
}
UL.navigation LI
{
    padding: 0;
    display: block;
    float: left;
}

UL.navigation LI a
{
    display: block;
    padding: 5px 20px;
    text-decoration: none;
}

UL.navigation LI.current a
{
    text-decoration: underline;
}

UL.navigation LI.login 
{
    float:right;
margin-right:-10px;
}



UL.navigation LI a:hover
{
    background-color:#fff000;
color:#000;}





.pricing td,.pricing th {text-align:center;border-right:1px solid #ddd;width:50%;}
.pricing td.last, .pricing th.last {border-right:0;}



.product-list {list-style-type:none;margin:0;padding:0;float:left;}
.product-list li { margin-bottom:15px;display:block; padding:15px; float: left; margin-right:10px;width:180px;border:1px solid #ddd;background-color:#f9f9f9;}  <!--border:1px solid #efefef-->
.product-list li a {text-decoration:none;}
/*.product-list li img { margin-bottom:6px;}*/
.product-list li a img  {border:1px solid #ddd;}
.product-list li a img:hover  {border:1px solid #999;}
/*.product-list li span a img  {border:none;} */
.product-list li a.itemtitle {float:left; width:180px;text-align:center;font-size:14px;line-height:14px;height:18px;margin-bottom:5px;overflow:hidden;}
.product-list .no-image {background:url(../images/no-image-small.jpg) no-repeat; float: left; width:180px; height:135px; margin-bottom:14px; border:1px solid #ddd; text-indent:-9999px;}
.product-list .upload-image {background:url(../images/click-to-upload2.jpg) no-repeat; float: left; width:180px; height:135px; margin-bottom:14px; border:1px solid #ddd; text-indent:-9999px;}

.product-list li .price {
    color: #FF6600;
    float: right;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    width: 70px;
margin:5px 0 0 0;
}


	.alpha60 {
	/* Fallback for web browsers that don't support RGBa */
	background-color: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background-color: rgba(255, 255, 255, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	}	

	#adminbar {color:#000}	
	#adminbar a {text-decoration:underline;color:#000;cursor:pointer;margin-left:2px;}
	#adminbar a:hover {color:#666;}





	.ctabuttons {
	    list-style: none;
	    float: left;
	    margin-bottom:0;
	    padding: 0;
		clear:both;
	}
	.ctabuttons li {
	    float: left;
	    display: block;
	    margin:0 20px 0 0;
	    padding: 0;
	}
	.cta {
	    float: left;
	    display: inline-block;
	    padding: 0 20px;
	    color: #fff;
	    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.35);
	    font: bold 18px Helvetica, Arial, sans-serif;
	    height: 50px;
	    text-decoration: none;
	    line-height: 50px;
		white-space: nowrap;
	    border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    -o-border-radius: 5px;
	    position: relative;
	    z-index: 10;
	    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#333333')";
	    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#333333');
		-moz-user-select: none;
		-webkit-user-select:none;
		-khtml-user-select: none;
		user-select: none;
		overflow: visible;
		outline: none;
	}
	.cta:before {
	    content: "";
	    display: block;
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    -o-border-radius: 5px;
	}
	.cta:hover {
	    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
	    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
	    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
	}
	.cta:active {
	    -moz-box-shadow: 0 0 0;
	    -webkit-box-shadow: 0 0 0;
	    box-shadow: 0 0 0;
	}
	
	
	.cta-green {
	    border: solid 1px #00922d;
	    background: #00b638;
	    background: -webkit-gradient(linear, left top, left bottom, from(#50de76), to(#00b638));
	    background: -moz-linear-gradient(top, #50de76, #00b638);
	    background: -ms-linear-gradient(top, #50de76, #00b638);
	    background: -o-linear-gradient(top, #50de76, #00b638);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#50de76', EndColorStr='#00b638');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#50de76', EndColorStr='#00b638')";
	}
	.cta-green:before {
	    border: solid 1px #78e695;
	    border-color: rgba(255, 255, 255, 0.35);
	}
	.cta-green:hover {
	    color: #fff;
	    border: solid 1px #006e22;
	    background: -webkit-gradient(linear, left top, left bottom, from(#5cec82), to(#00c43c));
	    background: -moz-linear-gradient(top, #5cec82, #00c43c);
	    background: -ms-linear-gradient(top, #5cec82, #00c43c);
	    background: -o-linear-gradient(top, #5cec82, #00c43c);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#5cec82', EndColorStr='#00c43c');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5cec82', EndColorStr='#00c43c')";
	}
	.cta-green:active {
	    color: #fff;
	    border: solid 1px #006e22;
	    background: -webkit-gradient(linear, left top, left bottom, from(#00b638), to(#50de76));
	    background: -moz-linear-gradient(top, #00b638, #50de76);
	    background: -ms-linear-gradient(top, #00b638, #50de76);
	    background: -o-linear-gradient(top, #00b638, #50de76);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#00b638', EndColorStr='#50de76');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00b638', EndColorStr='#50de76')";
	}
	


#backgrounds
{list-style-type:none;margin:0;padding:0;padding:13px;height:240px;}

#backgrounds li {float:left;padding:0;margin:0;border:2px solid #fff;height:75px;overflow:hidden}

#backgrounds li.currentbg {border:2px solid #ff0000;}


.added-to-cart {
  float: left;
  font-size: 16px;
  text-align: left;
  margin: 5px 0 0 0;
}


