<p id="notice"><%= notice %></p>

<p>
  <b>Items description:</b>
  <%= @description.items_description %>
</p>


<%= link_to 'Edit', edit_description_path(@description) %> |
<%= link_to 'Back', descriptions_path %>
