<ul class="navigation" style="width: 930px; margin: 0;padding: 10px;padding-bottom: 5px;border-top-width: 0px;padding-top: 5px;"> 
    <li class="login" style="float:right; font-size: 1.2em;">
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Login / Signup", new_user_session_path %>
    <% end %>
  </li>
</ul>

