<h1>Something went wrong</h1>
<p>For some reason the paypal payment didn't go through. Sorry! Log into your Paypal account to find out more.</p>
<p>
  For issues, email us at <a href="mailto:support@listofthingsforsale.com">support@listofthingsforsale.com</a>
</p>