<div class="container">
    <hr class="space">
    <hr class="space">
    <h1>
        Pricing & Sign-Up</h1>
    <div id="left" class="span-15 colborder">
        <div class="span-15" style="margin-bottom: 20px">
            <h1 class="alt" style="float: left; margin: 3px 10px 0 0; font-size: 4.2em">
                W</h1>
            e're brand new. But people already want to pay us. sfdfdf dfg dfg d fg df gd fg
            df gdf g dfgdfg sfdfdf dfg dfg d fg df gd fg df gdf g dfgdfg sfdfdf dfg dfg d fg
            df gd fg df gdf g dfgdfgsfdfdf dfg dfg d fg df gd fg df gdf g dfgdfg sfdfdf dfg
            dfg d fg df gd fg df gdf g dfgdfg sfdfdf dfg dfg d fg df gd fg df gdf g dfgdfgfg
            dfg d fg df gd fg df gdf g dfgdfgsfdfdf dfg dfg d fg df gd fg df gdf g dfgdfg sfdfdf
            dfg dfg d fg df gd fg df gdf g dfgdfg sfdfdf dfg dfg d fg df gd fg df gdf g dfgdfg
        </div>
        <div class="span-15">
            <table class="pricing">
                <tr>
                    <th>
                        <h3 style="margin-bottom:5px;">
                            Early Adopter Account</h3>
                        </th>
                    </th>
                    <th class="last">
                        <h3 style="margin-bottom:5px;">
                            Basic Account</h3>
                    </th>
                </tr>
                <tr>
                    <td>
                        Coming Soon
                    </td>
                    <td class="last">
                        <span class="highlight">Available Now</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        £6 / Month, flat rate
                    </td>
                    <td class="last">
                        <span class="highlight">Free forever</span>
                    </td>
                </tr>



                 <tr><td>£0.00 Listing Fee</td>
                    <td class="last">
                        £0.00 Listing Fee 
                    </td>
                    </tr>

                    <tr>
                    <td>0% Sales Fee</td>
                    <td class="last">
                      0% Sales Fee</td></tr>

                <tr>
                    <td>
                        Sell 100 items / month
                    </td>
                    <td class="last">
                        Sell 5 items / month
                    </td>
                </tr>
                <tr>
                    <td>
                        5 images per item
                    </td>
                    <td class="last">
                        1 image per item
                    </td>
                </tr>

                 

                <tr>
                    <td>
                        Inventory Control
                    </td>
                    <td class="last">
                        .
                    </td>
                </tr>
                <tr>
                    <td>
                        Item Pages
                    </td>
                    <td class="last">
                        .
                    </td>
                </tr>
                <tr>
                    <td>
                       Category Pages 
                    </td>
                    <td class="last">
                        .
                    </td>
                </tr>
                <tr>
                    <td>
                        Featured directory listing
                    </td>
                    <td class="last">
                        .
                    </td>
                </tr>
                <tr>
                    <td>
                        Priority search placement
                    </td>
                    <td class="last">
                        .
                    </td>
                </tr>

                <tr>
                <td style="padding-left:100px;"><button class="button" disabled="disabled">Coming Soon</button></td>
                <td class="last" style="padding-left:100px;"><a class="button positive">Sign Up <img src="css/plugins/buttons/icons/arrow_right.png" alt="" /></a></td>
                </tr>
                <!--
                <tr><td>&nbsp;</td><td class="last">&nbsp;</td></tr>-->
            </table>
        </div>
    </div>
    <div class="span-7 last">
        <p style="text-align: center;">
            <img src="images/list240.gif" alt="list of things for sale" /><br />
            <span id="tagline" class="highlight">the minimal way to sell online</span></p>
        sidebar text
    </div>
</div>
