<div class="container">
    <hr class="space">
    <hr class="space">
   
    <div id="left" class="span-15 colborder">
        <div class="span-15" style="margin-bottom: 20px">

     <h1 style="margin:20px 0 15px 0;text-align:center;">
              Less Features, Less Cost<!--Early Adopters--></h1>
            <h1 class="alt" style="float: left; margin: 3px 10px 0 0; font-size: 4.2em">
                W</h1>
            e're brand new. But people already want to pay us, which is nice. So we decided to make our early users part of the process. We're starting with just one paid account - it's for early adopters like yourself and it's insanely cheap: just £6 / $10 a month. As an early adopter your feedback will help guide our development of list.. into something great. And as a thank you, you can stay on this early adopter price plan for as long as you want, even when we change to tiered pricing. The early adopter account is coming November 1st. Sign up for the free account for now and you can upgrade once it's available.
        </div>
        <div class="span-15">
            <table class="pricing">
                <tr>
                    <th>
                        <h3 style="margin-bottom:5px;">
                            Early Adopter Account</h3>
                        </th>
                    </th>
                    <th class="last">
                        <h3 style="margin-bottom:5px;">
                            Basic Account</h3>
                    </th>
                </tr>
                <tr>
                    <td>
                        Coming November 1st<br/>3 weeks to go!
                    </td>
                    <td class="last">
                        <span class="highlight" style="padding:3px;">Available Now</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        £6 / Month, flat rate
                    </td>
                    <td class="last">
                        <span class="highlight" style="padding:3px;">Free forever</span>
                    </td>
                </tr>



                 <tr><td>£0.00 Listing Fee</td>
                    <td class="last">
                        £0.00 Listing Fee 
                    </td>
                    </tr>

                    <tr>
                    <td>0% Sales Fee</td>
                    <td class="last">
                      0% Sales Fee</td></tr>

                <tr>
                    <td>
                      100 things for sale
                    </td>
                    <td class="last">
                       5 things for sale
                    </td>
                </tr>
                <tr>
                    <td>
                      5 images per item
                    </td>
                    <td class="last">
                        1 image per item
                    </td>
                </tr>

                 

                <tr>
                    <td>
                        Inventory Control
                    </td>
                    <td class="last">
                        .
                    </td>
                </tr>
                <tr>
                    <td>
                        Item Pages
                    </td>
                    <td class="last">
                        .
                    </td>
                </tr>
                <tr>
                    <td>
                       Category Pages 
                    </td>
                    <td class="last">
                        .
                    </td>
                </tr>
                <tr>
                    <td>
                        Featured directory listing
                    </td>
                    <td class="last">
                        .
                    </td>
                </tr>
                <tr>
                    <td>
                        Priority search placement
                    </td>
                    <td class="last">
                        .
                    </td>
                </tr>

                <tr>
                <td style="padding-left:85px;"><button class="button" disabled="disabled">Coming Soon</button></td>
                <td class="last" style="padding-left:100px;"><a class="button positive">Sign Up <img src="css/plugins/buttons/icons/arrow_right.png" alt="" /></a></td>
                </tr>
                <!--
                <tr><td>Come back in 3 weeks!</td><td class="last">&nbsp;</td></tr>-->
            </table>
        </div>
    </div>
    <div class="span-7 last">
        <!--<p style="text-align: center;">
            <img src="images/list240.gif" alt="list of things for sale" /><br />
            <span id="tagline" class="highlight">the minimal way to sell online</span></p>
        sidebar text-->
    </div>
