<div class="simpleCart_shelfItem">
<h2 class="item_name"><%= @item.name %></h2>
<span class="item_price">£<%= @item.price %></span>
<span class="item_itemid"><%= @item.id %></span>
<span class="item_shopid"><%= @shop.id %></span>
<input type="text" class="item_quantity" value="1">
<a href="javascript:;" class="item_add">Add to Cart</a>
</div>