<div class="simpleCart_shelfItem">
<h2 class="item_name"><%= @item.name %></h2>
<span class="item_price">£<%= @item.price %></span>
<span class="item_itemid" style="display:none;"><%= @item.id %></span>
<span class="item_shopid" style="display:none;"><%= @shop.id %></span>

<a href="javascript:;" class="item_add" <% if @item.quantity == 0 then %>style="display:none;"<% end %>>Add to Cart</a>
<a href="#"  <% if @item.quantity > 0 then %> style="display:none;"<% end %>>Sold out!</a>
</div>